<!-- BEGIN:main -->
<div id="ver">
   <table border="1">
		<thead>
			<tr>	
				
				<th>{lbl_codigo}</th>
				<th>{lbl_titulo}</th>
				<th>{lbl_director}</th>
				<th>{lbl_inicio}</th>
				<th>{lbl_fin}</th>
				<th>{lbl_facultad}</th>
				<th>{lbl_estado}</th>
				<th>{lbl_sigeva}</th>
			</tr>
		</thead>
		<tbody>
			
			<tr class="grid_row_class" style="cursor: pointer;">
				
				<td>{codigo}</td>
				<td style="text-align:left">{titulo}</td>
				<td style="text-align:left">{director}</td>
				<td>{inicio}</td>
				<td>{fin}</td>
				<td style="text-align:left">{facultad}</td>
				<td style="text-align:left">{estado}</td>
				<td style="text-align:left">{sigeva}</td>
				
			</tr>
			<tr class="grid_row_class" style="cursor: pointer;">
			<td style="text-align:left; font-weight:bold">Unidad de Investigaci&oacute;n</td>
			<td style="text-align:left" colspan="7">{unidad}</td>
			</tr>
			<tr class="grid_row_class" style="cursor: pointer;">
			<td style="text-align:left; font-weight:bold">Abstract</td>
			<td style="text-align:left" colspan="7">{abstract}</td>
			</tr>
			
			
			<tr class="grid_row_class" style="cursor: pointer;">
			<td style="text-align:left; font-weight:bold">Palabras claves</td>
			<td style="text-align:left" colspan="3">{palabras_claves}</td>
			
			<td style="text-align:left; font-weight:bold">Palabras claves Ingl&eacute;s</td>
			<td style="text-align:left" colspan="3">{palabras_claveseng}</td>
			</tr>
			
			<tr class="grid_row_class" style="cursor: pointer;">
			<td style="text-align:left; font-weight:bold">Especialidad</td>
			<td style="text-align:left" colspan="3">{especialidad}</td>
			
			<td style="text-align:left; font-weight:bold">Tipo de investigaci&oacute;n</td>
			<td style="text-align:left" colspan="3">{tipo_investigacion}</td>
			</tr>
			
			<tr class="grid_row_class" style="cursor: pointer;">
			<td style="text-align:left; font-weight:bold">Campo</td>
			<td style="text-align:left" colspan="3">{campo}</td>
			
			<td style="text-align:left; font-weight:bold">L&iacute;nea</td>
			<td style="text-align:left" colspan="3">{linea}</td>
			</tr>
		</tbody>
	</table>
    
		
</div>
<div class="block">
<fieldset>
<legend>{integrante_leyenda}</legend>
<table border="1">
		<thead>
			<tr>	
				<th>{lbl_tipoinvestigador}</th>
				<th>{lbl_investigador}</th>
				<th>{lbl_cuil}</th>
				<th>{lbl_categoria}</th>
				<th>{lbl_cargo}</th>
				<th>{lbl_dedicacion}</th>
				<th>{lbl_beca}</th>
				<th>{lbl_carrerainv}</th>
				<th>{lbl_alta}</th>
				<th>{lbl_baja}</th>
				<th>{lbl_facultadint}</th>
				<th>{lbl_horasinv}</th>
				<th>{lbl_estadoint}</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN:integrante -->
			<tr class="grid_row_class" style="cursor: pointer;">
				<td style="text-align:left">{tipoinvestigador}</td>
				<td style="text-align:left">{investigador}</td>
				<td>{cuil}</td>
				<td>{categoria}</td>
				<td style="text-align:left">{cargo}</td>
				<td>{dedicacion}</td>
				<td style="text-align:left">{beca}</td>
				<td style="text-align:left">{carrerainv}</td>
				<td>{alta}</td>
				<td>{baja}</td>
				<td style="text-align:left">{facultadint}</td>
				<td>{horasinv}</td>
				<td style="text-align:left">{estadoint}</td>
				
			</tr>
			<!-- END:integrante -->
		</tbody>
	</table>
</fieldset>
</div>

<!-- END:main -->
