<!-- BEGIN:main -->
<div id="ver">
    {formulario}
    <form>
	<fieldset>

	<div class="item">
		    
		    
		    <label for="{input_fechaUltModificacion}">{fechaUltModificacion_label} :</label>
		    	    
		    <input type="text" size="30" value="{fechaUltModificacion_value}" name="{input_fechaUltModificacion}" id="{input_fechaUltModificacion}" readonly="readonly">
		    
		    
		    
		</div>
	<div class="item">
		    
		    
		   
		    <label for="{input_usuario}">{usuario_label} :</label>
		    
		    
		    <input type="text" size="30" value="{usuario_value}" name="{input_usuario}" id="{input_usuario}" readonly="readonly">
		    
		</div>
		</fieldset>
		</form>
</div>

<!-- END:main -->
